In [10]:
import pandas as pd
from sklearn.utils import resample
df=pd.DataFrame({
    'Age':[23,34,45,25,65,55,50,70],
    'Income':[2000,2500,3000,5000,4500,56000,45000,34000],
'Class':['low','low','low','high','high','high','high','low']
})
df

   Age  Income Class
0   23    2000   low
1   34    2500   low
2   45    3000   low
3   25    5000  high
4   65    4500  high
5   55   56000  high
6   50   45000  high
7   70   34000   low

In [11]:
dfhigh=df[df['Class'] == 'high']
dflow=df[df['Class'] == 'low']
df_highdown=resample(dfhigh,replace=False,n_samples=len(dflow),random_state=42)
dfbalance=pd.concat([df_highdown,dflow])
print(df_highdown)

   Age  Income Class
4   65    4500  high
6   50   45000  high
3   25    5000  high
5   55   56000  high

In [12]:
print(dfbalance['Class'].value_counts())

Class
high    4
low     4
Name: count, dtype: int64

In [13]:
print(dfhigh,dflow)

   Age  Income Class
3   25    5000  high
4   65    4500  high
5   55   56000  high
6   50   45000  high    Age  Income Class
0   23    2000   low
1   34    2500   low
2   45    3000   low
7   70   34000   low

In [20]:
df_lowup=resample(dflow,replace=True,n_samples=len(dflow)*2,random_state=42)
dfbalanced=pd.concat([df_lowup,dfhigh])
print(df_lowup)

   Age  Income Class
2   45    3000   low
7   70   34000   low
0   23    2000   low
2   45    3000   low
2   45    3000   low
7   70   34000   low
0   23    2000   low
0   23    2000   low

In [18]:
print(dfbalanced['Class'].value_counts())

Class
low     4
high    4
Name: count, dtype: int64

***Smote***

In [21]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\cvr\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\cvr\anaconda3\lib\site-packages (from imbalanced-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\cvr\anaconda3\lib\site-packages (from imbalanced-learn) (1.11.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\cvr\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\cvr\anaconda3\lib\site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\cvr\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

***Smote to generate synthetic samples instead of duplicating exsiting ones

2.Convert categorical class labels into numeric form for smote to work

3.apply smote to balance the dataset

4.convert back to original categorical labels

5.combine the resampled data into a final balanced dataset***

In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# Sample DataFrame
df = pd.DataFrame({
    'age': [22, 25, 27, 28, 30],
    'income': [2000, 38000, 43000, 5000, 6000],
    'class': ['min', 'min', 'max', 'max', 'max']
})

print(df)

   age  income class
0   22    2000   min
1   25   38000   min
2   27   43000   max
3   28    5000   max
4   30    6000   max

In [31]:
pip show imbalanced-learn

Name: imbalanced-learn
Version: 0.12.2
Summary: Toolbox for imbalanced dataset in machine learning.
Home-page: https://github.com/scikit-learn-contrib/imbalanced-learn
Author:
Author-email:
License: MIT
Location: C:\Users\cvr\anaconda3\Lib\site-packages
Requires: joblib, numpy, scikit-learn, scipy, threadpoolctl
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [ ]:
!pip install --upgrade scikit-learn imbalanced-learn

In [8]:
pip install -U scikit-learn imbalanced-learn

Requirement already satisfied: scikit-learn in c:\users\cvr\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: imbalanced-learn in c:\users\cvr\anaconda3\lib\site-packages (0.13.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: sklearn-compat<1,>=0.1 in c:\users\cvr\anaconda3\lib\site-packages (from imbalanced-learn) (0.1.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# Sample DataFrame
df = pd.DataFrame({
    'age': [22, 25, 27, 28, 30],
    'income': [2000, 38000, 43000, 5000, 6000],
    'class': ['min', 'min', 'max', 'max', 'max']
})

# Mapping 'max' -> 0, 'min' -> 1
df['class'] = df['class'].map({'max': 0, 'min': 1})

# Features and target
x = df[['age', 'income']]
y = df['class']

# Apply SMOTE with 2 nearest neighbors and set sampling_strategy=1.0 to balance the classes
smote = SMOTE(sampling_strategy=1.0, random_state=42, k_neighbors=1)
X, Y = smote.fit_resample(x, y)

# Map back the values of the 'class' column
Y = Y.map({0: 'max', 1: 'min'})

# Combine the resampled data into a new DataFrame
df_balance = pd.concat([pd.DataFrame(X, columns=['age', 'income']), pd.DataFrame(Y, columns=['class'])], axis=1)

# Print the value counts of the 'class' column
print(df_balance['class'].value_counts())
df_balance

class
min    3
max    3
Name: count, dtype: int64

   age  income class
0   22    2000   min
1   25   38000   min
2   27   43000   max
3   28    5000   max
4   30    6000   max
5   24   30675   min